@{
    Layout = null;
}
@model TaiKhoanUser
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
 
    <link rel="stylesheet" href="../Layout1/assets/css/base.css">
    <link rel="stylesheet" href="../Layout1/assets/css/main.css">
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                </div>
                    <h1 class="font-weight-light">Đăng Ký</h1>
                    @using (Html.BeginForm("Register", "Access", FormMethod.Post, new { id = "registerForm" }))
                    {
                        <!-- Email input -->
                        <p class="form__text-red mb-2" id="error-name" style="font-size:13px;color: red;"></p>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                            @Html.TextBoxFor(x=>x.TenTaiKhoan, new{@class="form-control form-control-lg",  @id = "username" ,required = "required", autofocus="autofocus" })
                        </div>

                        <p class="form__text-red mb-3" id="error-password" style="font-size:13px;color: red;"></p>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            @Html.TextBoxFor(x=>x.MatKhau, new{@class="form-control form-control-lg", @id = "password", type="password"})
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="confirmPassword">Password confirm</label>
                            <input type="password" id="confirm-pasowrd" class="form-control form-control-lg" />
                        </div>
                        <!-- Submit button -->
                        <button type="submit">Đăng Ký</button>
                    }
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- Footer -->
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h5 class="text-uppercase mb-4">Get in touch</h5>
                <p class="mb-4">
                    No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no
                </p>
                <p class="mb-2">
                    <i class="fas fa-map-marker-alt me-3 text-primary"></i>
                    123 Street, New York, USA
                </p>
                <p class="mb-2">
                    <i class="fas fa-envelope me-3 text-primary"></i>
                    info@example.com
                </p>
                <p class="mb-0">
                    <i class="fas fa-phone-alt me-3 text-primary"></i>
                    +012 345 67890
                </p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">Quick shop</h5>
                        <div class="footer-action d-flex flex-column">
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Home
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Our Shop
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Shopping Cart
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Checkout
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Contact us
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">My account</h5>
                        <div class="footer-action d-flex flex-column">
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Home
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Our Shop
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Shopping Cart
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Checkout
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Contact us
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none rounded-0" placeholder="Your Email Address">
                                <button class="btn btn-primary shadow-none rounded-0">Sign Up</button>
                            </div>
                        </form>
                        <h6 class="text-uppercase mt-4 mb-3">Follow us</h6>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright row mx-xl-5 py-4 border-top">
            <div class="col-12">
                <p>
                    © <a href="#" class="text-primary">Domain</a>. All Rights Reserved. Designed by
                    <a href="#" class="text-primary">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="../../LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- MDB -->
    <script type="text/javascript" src="../md5/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script>
        // REGISTER

        const Validiation = () => {
            let name = document.getElementById('username').value;
            let check_error_name = document.getElementById('error-name');


            if (name == '') {
                check_error_name.innerHTML = '* Họ tên không được để trống!'
                return false;
            }

            check_error_name.innerHTML = '';

            let pass = document.getElementById('password').value;
            let check_error_pass = document.getElementById('error-password');
            let regexPass = /\ /;

            if (pass == '') {
                check_error_pass.innerHTML = '* Mật khẩu không được để trống!';
                return false;
            }
            check_error_pass.innerHTML = '';

            let confirmPass = document.getElementById('confirm-pasowrd').value;
            let check_error_cfrm_pass = document.getElementById('error-password');
            if (confirmPass !== pass) {
                check_error_cfrm_pass.innerHTML = 'Mật khẩu không trùng nhau';
                return false;
            }

            return true;

        }

        const form = document.getElementById('registerForm');

        form.onsubmit = (event) => {
            if (!Validiation()) {
                event.preventDefault();
            }
        };
    </script>
</body>
</html>

